@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    margin: 0;
    background-color: #424242;
    font-family: 'Open Sans', sans-serif;;
    color: #fff;
}

header {
    margin-bottom: 2em;
    width: 100%;
    background-color: #6d6d6d;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.19), 0 5px 10px 0 rgba(0, 0, 0, 0.18);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    width: 100%;
    font-size: 18px;
}
nav > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
    transition: 0.3s;
}

nav > a:hover {
    color: #aaaaaa
}

main {
    max-width: 1500px;
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

h1 {
    margin: 0;
    padding: .5em 2em;
    font-weight: 400;
    flex-shrink: 0;
}
h2 {
    margin: 0;
    padding: 0;
    font-weight: 400;
}

.graph {
    position: relative;
    margin: 1em;
    padding: 1em;
    width: 100em;
    max-width: 680px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: rgba(0,0,0, 0.87);
    background-color: #f4f4f4;
}
@media only screen and (max-width : 100em) {
    .graph {
        width: 100vw
    }
}

button {
    margin: 0em 1em;
    width: 12em;
}



