<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/stylesheet.css" type="text/css">
        <meta charset="UTF-8">
        <meta title="Arduino sensor plotter">
    </head>

    <body>
        <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
                crossorigin="anonymous">
        </script>
        <!-- Chart.js -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.js"></script>
        <!-- My code -->
        <script type="text/javascript" src="static/color_palette.js"></script>
        <script type="text/javascript" src="static/script.js"></script>
        <header>
            <h1>Arduino flower pot</h1>
            <nav>
                <a href="#" onclick="request_data('realtime')">Real Time</a>
                <a href="#" onclick="request_data('day')">Past Day</a>
                <a href="#" onclick="request_data('week')">Past Week</a>
                <a href="#" onclick="request_data('month')">Past Month</a>
                <a href="#" onclick="request_data('year')">Past Year</a>
            </nav>
        </header>
        <main>
        </main>
    </body>
</html>
